@import "tailwindcss";

@font-face {
  font-family: "Nunito Sans";
  src: url("./fonts/NunitoSans-VariableFont_YTLC,opsz,wdth,wght.ttf")
    format("truetype");
  font-weight: 200 900;
  font-style: normal;
}

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --font-nunito-sans: "Nunito Sans", sans-serif;

  --color-grey-950: #111517;
  --color-grey-400: #808080;
  --color-grey-350: #979797;
  --color-grey-300: #b2b2b2;
  --color-grey-250: #c4c4c4;
  --color-grey-50: #fcfcfc;
  --color-blue-950: #202c36;
  --color-blue-900: #2b3844;

  --shadow-header: 0 2px 4px 0 rgba(0, 0, 0, 0.06);
  --shadow-card: 0 0 7px 2px rgba(0, 0, 0, 0.1);
  --shadow-input: 0 2px 9px 0 rgba(0, 0, 0, 0.05);

  --rounded-card: 0.3125rem;
}
